@{
    Layout = (ViewEngines.Engines.FindView(this.ViewContext.Controller.ControllerContext, "_Layout", "").View as RazorView).ViewPath;
}

@model DoggyStyle.Models.ContactPageModel

@{
    ViewBag.Title = "Contact Page";
}

@*<div style="width: 70%; margin-left: 2em; float: left; ">
    <img src="~/Content/images/icons/car-accident.png" border="0" style="width: 100%; opacity: 0.4;" >
    <h1>TI</h1>
</div>*@
@using (Html.BeginForm()) {
    
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div style="width: 45%; margin-left: auto; margin-right: auto;">
        <fieldset style="width: 100%;">
            <legend>@ViewBag.Title</legend>
            <div style="width: 60%; float: left;">
                <table>
                    <tr>
                        <td style="font-weight: bold;">
                            @Html.LabelFor(model => model.UserName) :
                        </td>
                        <td>&nbsp;&nbsp;</td>
                        <td>
                            <input id="inpName" name="inpName" type="text" class="sg-input sg-input-text" />
                            @Html.ValidationMessageFor(model => model.UserName)
                        </td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;">
                            @Html.LabelFor(model => model.Phone) :
                        </td>
                        <td>&nbsp;&nbsp;</td>
                        <td>
                            <input id="inpPhone" name="inpPhone" type="text" class="sg-input sg-input-text" title="Phone Format : 0XX-XXXXXXX" pattern="0 [2-9] \d - [2-9] \d {6}"/>
                            @Html.ValidationMessageFor(model => model.Phone)
                        </td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;">
                            @Html.LabelFor(model => model.Email) :
                        </td>
                        <td>&nbsp;&nbsp;</td>
                        <td>
                            <input id="inpEmail" name="inpEmail" type="email" class="sg-input sg-input-text" />
                            @Html.ValidationMessageFor(model => model.Email)
                        </td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold; vertical-align: top;">
                            @Html.LabelFor(model => model.Notes) :
                        </td>
                        <td>&nbsp;&nbsp;</td>
                        <td colspan="3">
                            <textarea id="inpNotes" name="inpNotes" class="sg-input sg-input-text" cols="35" ></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" class="btn btn-primary btn-lg specs-link" value="Post Request" onclick="updateModel();" />
                            @Html.HiddenFor(model => model.UserName, new { @id = "fldUserName" })
                            @Html.HiddenFor(model => model.Phone, new { @id = "fldPhone" })
                            @Html.HiddenFor(model => model.Email, new { @id = "fldEmail" })
                            @Html.HiddenFor(model => model.Notes, new { @id = "fldNotes" })
                            @*@Html.HiddenFor(model => model.SuccessSend, new { @id = "sendFlag" })
                            @Html.HiddenFor(model => model.Error, new { @id = "response" })*@
                        </td>
                        <td>&nbsp;&nbsp;</td>
                        <td>
                            @Html.ActionLink("Home Page", "Index")
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            @if (ViewBag.SendResponse != "") {
                                <label id="lblDisplayMsg" class="err">@ViewBag.SendResponse</label>
                            }
                            else {
                                <label id="lblDisplayMsg1" class="ok">Message sent successfully.</label>
                            }
                            @*@Html.DisplayFor(model => model.Error, new { @id = "response", @class = "err" })*@
                        </td>
                    </tr>
                </table>
            </div>
            
        </fieldset>
    </div>
}

<style>
    body {
        margin-left: auto;
        margin-right: auto;
    }

    tr {
        height: 3em;
    }

    .sg-input-text {
        padding: .2em .3em;
        border-radius: .3em;
    }
    .err {
        font-weight: bold;
        color: red;
        font-weight: bold;
    }
    .ok {
        font-weight: bold;
        color: green;
        font-weight: bold;
    }
</style>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            //debugger;
            
            document.getElementById("inpName").value = document.getElementById("fldUserName").value;
            document.getElementById('inpPhone').value = document.getElementById('fldPhone').value;
            document.getElementById('inpEmail').value = document.getElementById('fldEmail').value;
            document.getElementById('inpNotes').value = document.getElementById('fldNotes').value;

            //if (sendFlag == 1) {
            //    if (response == null) {
            //        display.innerText = "Your response has benn send.";
            //    }
            //    else {
            //        display.style.color = "red";
            //        display.innerHtml = "<div style=\"direction: ltr;\">An Error occured : " + response.innerText + ".<br/>Please try again later.</div>";
            //    }
            //}

        });

        function updateModel() {
            //debugger;
            document.getElementById('fldUserName').value = document.getElementById('inpName').value;
            document.getElementById('fldPhone').value = document.getElementById('inpPhone').value;
            document.getElementById('fldEmail').value = document.getElementById('inpEmail').value;
            document.getElementById('fldNotes').value = document.getElementById('inpNotes').value;
            //document.getElementById('sendFlag').value = 1;
        }
    </script>
}
