
<div style="width: 90%; margin-left: auto; margin-right: auto; ">
    <table>
        <tr>
            <td style="width: 50%;">
                <p class="bigquote">Uh oh!</p>
                <br /><br /><br />
                <p class="quote">There's a problem.</p>
                <table style="position: relative; top: -100px; width: 100%;">
                    <tr>
                        <td class="padright">
                            <p class="error">Error 404 &mdash; Page @{@Request.ServerVariables["QUERY_STRING"].Substring(@Request.ServerVariables["QUERY_STRING"].IndexOf('=') + 1)} Not Found</p>
                            <p class="bodytext">The page you requested cannot be located. Check the URL and try again. Perhaps the link was mistyped, or perhaps you've tried to visit a page which was once here but isn't any longer because someone's moved ... or disappeared ... or maybe it's meant to be there one day but hasn't been put in place ... yet. Check the spelling of the path (look for upper case letters) or the filename itself ... delete the filename and start from the directory level.</p>
                            <p class="bodytext">If the problem persists, <a href="mailto:support@DoggyStyle.net"><b>CLICK HERE</b> to notify Technical Support</a>.@*</p>*@
                            @*<p class="bodytext">*@<br />Hit the <b>BACK</b> button on your browser to continue.</p>
                        </td>
                    </tr>
                </table>
                <table style="position: relative; top: -50px; width: 100%;">
                    <tr>
                        <td class="alignright" style="width: 25%;">
                            <p class="bodybold">Referring URL:</p>
                        </td>
                        <td class="alignleft" style="width: 75%;">
                            <p class="bodytext">@Request.ServerVariables["HTTP_REFERER"]</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="alignright" style="width: 25%;">
                            <p class="bodybold">IP Address:</p>
                        </td>
                        <td class="alignleft" style="width: 75%;">
                            <p class="bodytext">@Request.ServerVariables["SERVER_NAME"]:@Request.ServerVariables["SERVER_PORT"]</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="alignright" width="25%">
                            <p class="bodybold">Requested URL:</p>
                        </td>
                        <td class="alignleft" width="75%">
                            <p class="bodytext">@Request.ServerVariables["QUERY_STRING"]</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="alignright" width="25%">
                            <p class="bodybold">User Browser:</p>
                        </td>
                        <td class="alignleft" width="75%">
                            <p class="bodytext">@Request.ServerVariables["HTTP_USER_AGENT"]</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="alignright" width="25%">
                            <p class="bodybold">Status Code:</p>
                        </td>
                        <td class="alignleft" width="75%">
                            <p class="bodytext">@Request.ServerVariables["REQUEST_METHOD"]</p>
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <img src="~/Content/images/icons/car-accident.png" border="0" ></td>
        </tr>
    </table>
</div>

<link href="~/Content/style/ErrorStyle.css" rel="stylesheet" />

@*<style>
    body {
        margin-left: auto;
        margin-right: auto;
        /*background-image: url("~/Content/images/icons/car-accident.png");*/
        /*opacity: 0.5;*/
    }

    tr {
        height: 3em;
    }

    .sg-input-text {
        padding: .2em .3em;
        border-radius: .3em;
    }
    
</style>*@