@model DoggyStyle.Fleet

@{
    ViewBag.Title = "Fleet";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div style="width: 45%; margin-left: auto; margin-right: auto;">
        <fieldset style="width: 100%;">
            <legend>@ViewBag.Title</legend>
            <div style="width: 60%; float: left;">
                <table>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.LicencePlate)
                        </td>
                        <td>&nbsp;&nbsp;</td>
                        <td>
                            @Html.EditorFor(model => model.LicencePlate, new { @class = "sg-input sg-input-text" })
                            @Html.ValidationMessageFor(model => model.LicencePlate)
                            @*<input id="LicencePlate" type="text" class = "sg-input sg-input-text" value="@Model.LicencePlate" />*@
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.TypeId)
                        </td>
                        <td>&nbsp;&nbsp;</td>
                        <td>
                            @Html.DropDownList("TypeId", String.Empty)
                            @Html.ValidationMessageFor(model => model.TypeId)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Kilometrage)
                        </td>
                        <td>&nbsp;&nbsp;</td>
                        <td>
                            @Html.EditorFor(model => model.Kilometrage)
                            @Html.ValidationMessageFor(model => model.Kilometrage)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.ReadyToUse)
                        </td>
                        <td>&nbsp;&nbsp;</td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.ReadyToUse)
                            @Html.ValidationMessageFor(model => model.ReadyToUse)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Image)
                        </td>
                        <td>&nbsp;&nbsp;</td>
                        <td>
                            @*@Html.EditorFor(model => model.Image, new { @class = "imageFileClass" })*@
                            @Html.HiddenFor(model => model.Image)
                            @Html.ValidationMessageFor(model => model.Image)
                            <input id="ImageFileName" name="ImageFileName" type="file" onchange="document.getElementById('Image').value = this.files[0].name;" />
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" class="btn btn-primary btn-lg specs-link" value="Update" />
                            @Html.HiddenFor(model => model.FleetId)
                            @*@Html.HiddenFor(model => model.Vehicle)*@
                        </td>
                        <td>&nbsp;&nbsp;</td>
                        @if (ViewBag.ErrorMessage != "")
                        {
                            <td class="error">@ViewBag.ErrorMessage</td>
                        }
                        else {
                            <td>@Html.ActionLink("Back to Fleet List", "Index", "Fleet")</td>
                        }
                    </tr>
                </table>
            </div>
            <div style="width: 40%; float: left;">
                <div class="editor-field">
                    @*<img id="img1" src="/Content/images/cars/@Model.Image"  alt="@Model.Vehicle.Manufactor.Name + ' ' + @Model.Vehicle.Model"  width="520" />*@
                    <img id="img1" src="/Content/images/cars/@Model.Image"  width="520" />
                </div>
            </div>
        </fieldset>
    </div>
}

<style>
    body {
        margin-left: auto;
        margin-right: auto;
    }

    tr {
        height: 3em;
    }

    .sg-input-text {
        padding: .2em .3em;
        border-radius: .3em;
    }
    .error {
        font-weight: bold;
        color: red;
    }
</style>

@section Scripts {
    <style>
        .imageFileClass {
            width: 250px;
        }
    </style>
    <script>
        var loadFile = function (event) {
            //debugger;
            var output = document.getElementById('output');
            var fName = "Images/" + event.target.files[0].name;  //None path with users selected file name
            if (UrlExists(fName)) {
                output.src = fName;         //Do something like show image
            } else {
                alert("File not present"); // Do something to show file not in this path
            }
        };

        function UrlExists(url) {
            var http = new XMLHttpRequest();
            http.open('HEAD', url, false);
            http.send();
            if (http.status != 404) {
                return true;
            } else {
                return false;
            }
        }

        //$(function () {
        //    $("#btnSubmit").on('click', function (e) {
        //        debugger;
        //    });
        //});

    </script>

    <style>
        body {
            margin: 1em auto;
        }
    </style>

}
